<!--
/*
============================================
; Title: about.component.html
; Author: Arlix Sorto
; Date: 03 April 2021
; Description: About us page
;===========================================
*/
-->
<div fxLayout="row wrap" class="about-container">
    <!--Start fxFlex-->
    <div fxFlex class="author-image">
        <figure class="figure">
            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTY2NzA3NTQzNjM5MzM2MjI4/dr_seuss_1957_getty_images_3240530jpg.jpg" class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure." />
            <figcaption class="figure-caption">
                Photo: Gene Lester/Getty Images
            </figcaption>
        </figure>
    </div>
    <!--End fxFlex-->

    <!--Start fxFlex-->
    <div fxFlex>
        <blockquote>
            <p>
                Theodor Seuss Geisel, known as Dr. Seuss, is a writer and a cartoonist who published more than 60 books.
                His bestseller books were the Cat in the Hat and Green Eggs and Ham, which contain rhymes and characters
                that made it famous. Geisel was born on March 2, 1904, in Springfield, Massachusett. He lived with his
                parents until he turned 18 and left home to attend Dartmouth College, where he became the editor in
                chief of its humor magazine, Jack-O-Lantern. After graduating from Dartmouth, he attended the University
                of Oxford in England and then later dropped out of Oxford in 1927. After returning to America, he
                decided to pursue cartooning full time and published numerous magazines. He wrote many books in a new,
                simplified vocabulary style throughout his career and using his older, more elaborate technique. Geisel
                published more than 60 books, including well-known books like ‘How the Grinch Stole Christmas,’ ‘The Cat
                in the Hat,’ and ‘Green Eggs and Ham’. Several books have been transformed into full-length movies, both
                during his lifetime and posthumously. Geisel helps famous cartoonist Chuck Jone in making the film
                called ‘The Grinch Who Stole Christmas.’ Geisel won numerous awards for his work, including an Academy
                Award, three Emmys, and three Grammys.
            </p>

            <footer>
                <cite>
                    Dr. Seuss. (2021, March 02). Retrieved April 03, 2021, from</cite><a
                    href="https://www.biography.com/writer/dr-seuss">
                    https://www.biography.com/writer/dr-seuss
                </a>
            </footer>
        </blockquote>
    </div>
     <!--End fxFlex-->
</div>