<!--
/*
============================================
; Title: login.component.html
; Author: Professor Krasso
; Date: 29 March 2021
; Modified By: Arlix Sorto
; Description: Week 4
;===========================================
*/
-->
<div fxLayout="row">
    <mat-card class="mat-elevation-z0 login">
        <mat-card-title> Employee Login Form</mat-card-title>
        <mat-card-subtitle>You must enter a valid numerical employeeId to proceed.</mat-card-subtitle>
        <mat-card-content>
            <mat-card class="mat-elevation-z8" fxLayout="column" fxLayoutGap="10">
  
                <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset();">
                    <mat-card-content>
                        <mat-form-field fxFlex appearance="fill">
                            <mat-label for="txtEmpId">Employee ID</mat-label>

                            <input name="txtEmpId" id="txtEmpId" matInput formControlName="empId"
                                placeholder="Employee ID" />
                        </mat-form-field>


                        <mat-error
                            *ngIf="loginForm.controls['empId'].hasError('required') && loginForm.controls['empId'].touched">
                            Employee ID is a required field.
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.controls['empId'].hasError('pattern') && loginForm.controls['empId'].touched">
                            Employee ID must be a numerical value.
                        </mat-error>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button type="submit" fxFlex mat-raised-button [disabled]="!loginForm.valid"
                            color="primary">Submit</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>