  /*
============================================
; Title: home.component.css
; Author: Professor Krasso
; Date: 29 March 2021
; Modified By: Arlix Sorto
; Description: Week 4
;===========================================
*/
.main-welcome {
    margin-top: 30px;
  }
  
  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  