/*
============================================
; Title: base-layout.component.css
; Author: Professor Krasso
; Date: 29 March 2021
; Modified By: Arlix Sorto
; Description: Week 4
;===========================================
*/
.logo {
    margin-left: 75px;
    font-size: 24px;
    font-weight: lighter;;
  }
  
  .navbar-container {
    padding: 5px;
  }
  
  .navbar-link {
    font-size: 24px;
    font-weight: lighter;
  }
  

  .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3px;
    padding-left: 0;
    transition-duration: 400ms;

    transition-property: padding-left,padding-right;

  }
    
  .footer-content a {
    color: rgb(247, 247, 235);
  }
  .footer-content p {
    color: rgb(168, 168, 168);
    margin: 0 auto;
  }
  .bu-link {
    text-decoration: none;
  }
  
  .bu-link:hover {
    text-decoration: underline;
  }
.active{
  padding-left: 200px!important;
  transition-duration: 400ms;

  transition-property: padding-left,padding-right;
}
.main-content{
  padding-left: 0;
  transition-duration: 400ms;
 
  transition-property: padding-left,padding-right;
}