<!--
  /*
============================================
; Title: base-layout.component.html
; Author: Professor Krasso
; Date: 29 March 2021
; Modified By: Arlix Sorto
; Description: Week 4
;===========================================
*/
-->
<div fxLayout="column">

    <!-- navigation -->
 <app-main-nav #main></app-main-nav>
    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>
  
    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content " color="primary" >
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>
  
  </div>
  